name: Docker Publish
on:
  push:
    branches:
      - main
permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set tag var
      id: docker_realease_tag
      run: |
        echo "docker_tag=1.$(date +'%Y%m%d').${GITHUB_RUN_NUMBER}" >> "$GITHUB_ENV"

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GitHub Package Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:${{ env.docker_tag }}
